/*
COLORS

Primary: #e2f9f1
Primary light: #f7fff7
Primary dark: #d0f4ec

Secondary: #1a535c
Secondary light: #4ecdc4
Secondary dark: #16444c

Tertiary: #ff6b6b

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #ff6b6b;
  --color-primary-light: #ff8585;
  --color-primary-dark: #b92f2f;
  --color-secondary: #e2f9f1;
  --color-secondary-light: #f7fff7;
  --color-secondary-dark: #d0f4ec;
  --color-tertiary: #1a535c;
  --color-tertiary-light: #4ecdc4;
  --color-tertiary-dark: #16444c;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 0 5rem rgba(0,0,0,.5); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Candara', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-tertiary-dark);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* all blocks are placed in a row direction, but in mobile layout, each is
  full-length across main direction, so they will wrap (see in column) */
  flex-flow: nowrap; }

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  margin-bottom: 2rem; }
  label > * {
    align-self: flex-start; }

input {
  padding: .5rem;
  border-width: 1px;
  border-radius: .5rem;
  border-color: var(--color-tertiary-dark); }

textarea {
  padding: .25rem;
  border-width: 1px;
  border-radius: .5rem;
  border-color: var(--color-tertiary-dark); }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: var(--color-tertiary); }

#access_body {
  font-family: 'Candara', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-tertiary-dark);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  /* all blocks are placed in a row direction, but in mobile layout, each is
  full-length across main direction, so they will wrap (see in column) */ }

.access-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto; }

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-secondary-light);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-tertiary);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.home__button {
  display: flex;
  border: none;
  background-color: var(--color-tertiary);
  cursor: pointer;
  height: 70px; }
  .home__button:hover {
    background-color: var(--color-tertiary-dark); }

.logo {
  flex: 0 1 auto;
  max-height: 7rem;
  margin: 0 1rem; }
  .logo:hover {
    transform: scale(1.1, 1.1);
    transition: all .2s; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-secondary-light);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-secondary-dark); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-secondary-dark); }
  .search__button {
    border: none;
    cursor: pointer;
    background-color: var(--color-secondary-light); }
    .search__button__focus {
      outline: none; }
    .search__button__active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-tertiary); }

.user-nav {
  display: flex;
  position: relative;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 3rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-tertiary-dark); }
  .user-nav__icon {
    height: 2rem;
    width: 2rem;
    vertical-align: bottom;
    fill: var(--color-tertiary-light); }
  .user-nav__icon-box:hover .user-nav__icon {
    transform: scale(1.5, 1.5);
    transition: all .2s; }
  .user-nav__user {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .user-nav__user-photo {
    align-items: center;
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-dropbtn {
    background: none;
    border: none;
    color: var(--color-tertiary-light); }
    .user-nav__user-dropbtn:hover {
      transform: scale(1.2, 1.2);
      transition: all .2s; }
  .user-nav__user-dropcont {
    display: none; }
    .user-nav__user-dropcont a {
      text-decoration: none;
      color: var(--color-tertiary-light);
      padding: 1rem 2rem;
      width: 100%; }
  .user-nav__user:hover .user-nav__user-dropcont {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin-top: 15.3rem;
    background-color: var(--color-tertiary); }
    .user-nav__user:hover .user-nav__user-dropcont a:hover {
      background-color: var(--color-tertiary-dark); }

.title-bar {
  display: flex;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: var(--color-secondary-dark);
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.5); }

.title-box {
  display: flex; }
  .title-box__title {
    font-family: "Lucida Handwriting", sans-serif;
    font-size: 3rem;
    color: var(--color-tertiary); }

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex: 0 1 100%;
  min-height: 80vh;
  max-width: 100vw;
  background-color: var(--color-secondary);
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
  max-width: 100vw; }
  .recipes__box {
    display: flex;
    align-self: center;
    flex-direction: column;
    flex: 0 1 30rem;
    max-width: 100vw;
    border-radius: 1.5rem;
    margin: 1.5rem;
    background-color: var(--color-secondary-dark);
    box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden; }
  .recipes__box-title {
    align-self: self-start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: underline;
    font-size: 2rem;
    margin: 1rem 1rem 0 1rem; }
  .recipes__box-link {
    display: flex;
    flex-direction: column; }
  .recipes__box-photo {
    height: 20rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    vertical-align: bottom;
    object-fit: cover;
    max-width: 100%; }
  .recipes__box-photo:hover {
    filter: opacity(70%); }
  .recipes__box-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.5rem;
    margin: 1rem; }

.footerText {
  font-size: 1.5rem;
  color: var(--color-tertiary-light); }

.recipe__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 60%;
  max-width: 100vw;
  flex-wrap: wrap;
  margin: 4rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-secondary-dark);
  box-shadow: var(--shadow-dark); }
  .recipe__form span {
    font-size: 1.5rem; }

.form__button {
  border: none;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  max-width: 100%;
  background-color: var(--color-tertiary-dark);
  color: var(--color-tertiary-light); }
  .form__button:hover {
    cursor: pointer;
    background-color: var(--color-tertiary); }

.access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto; }

.access-logo {
  background-color: var(--color-secondary); }
  .access-logo > .logo {
    max-height: 10rem; }

.access__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 1.5rem;
  min-width: 30rem;
  min-height: 50rem;
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-dark); }
  .access__form span {
    font-size: 1.5rem; }

.form-signin, .form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem; }
  .form-signin input, .form-signup input {
    width: 30rem; }
  .form-signin label, .form-signup label {
    font-size: 1.5rem;
    margin: .5rem; }
  .form-signin span, .form-signup span {
    font-family: "Lucida Handwriting", sans-serif;
    font-size: 2.5rem; }
  .form-signin > label > input, .form-signup > label > input {
    max-width: 100%; }

.file-upload {
  max-width: 100%; }
  .file-upload input {
    max-width: 100%; }

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  z-index: -1; }

#languagechooser {
  display: flex; }
  #languagechooser img {
    height: 5rem;
    padding: .5rem; }

.recipe__img img {
  margin-top: 2rem;
  max-height: 40rem;
  max-width: 100%; }

.recipe-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 100%;
  min-height: 80vh;
  max-width: 100vw;
  background-color: var(--color-secondary);
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.recipe__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; }
  .recipe__bar > svg {
    height: 5rem;
    width: 5rem; }
  .recipe__bar .fav__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 1rem; }
    .recipe__bar .fav__button:hover {
      background-color: var(--color-tertiary);
      color: var(--color-secondary); }
    .recipe__bar .fav__button:focus .fav__icon {
      fill: var(--color-primary-light);
      animation-name: in;
      animation-duration: .3s; }

@keyframes in {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.5, 1.5); } }
      .recipe__bar .fav__button:focus .fav__icon::after {
        animation-name: out;
        animation-duration: .3s; }

@keyframes out {
  from {
    transform: scale(1.5, 1.5); }
  to {
    transform: scale(1, 1); } }
    .recipe__bar .fav__button svg {
      height: 3rem;
      width: 3rem; }
    .recipe__bar .fav__button .fav__text, .recipe__bar .fav__button .fav__count {
      font-family: 'Candara', sans-serif;
      padding-left: 1rem; }
  .recipe__bar > * {
    padding: 1rem;
    font-size: 2rem;
    color: var(--color-tertiary); }

.recipe__content {
  max-width: 60%; }
  .recipe__content > * {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .recipe__content .recipe__ing-list {
    padding: 0 2rem 2rem 2rem; }
  .recipe__content .recipe__steps-list {
    padding: 0 2rem 2rem 2rem; }

@media all and (max-width: 640px) {
  .home__button {
    align-items: center; }
    .home__button .logo {
      max-height: 3.5rem; }
  .user-nav > * {
    padding: 0 1.5rem; }
  .user-nav__user-dropbtn {
    display: none; }
  .user-nav__user:hover .user-nav__user-dropcont {
    margin-top: 19.7rem;
    margin-right: 4.5rem; }
  .user-nav__user-photo {
    margin-right: 0; }
  .title-box__title {
    font-size: 1.5rem; }
  .recipe__content {
    max-width: 80%; }
  .recipe__bar > span {
    font-size: 1rem; }
  .fav__text {
    font-size: 1rem; } }

@media all and (max-width: 420px) {
  .home__button {
    align-items: center; }
    .home__button .logo {
      max-height: 2rem; }
  .user-nav > * {
    padding: 0 .5rem; }
  .user-nav__user-dropbtn {
    display: none; }
  .user-nav__user-dropcont {
    margin-top: 19.7rem;
    margin-right: 4.5rem; } }
