.container{
  width: 100vw;
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-secondary-light);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-tertiary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* all blocks are placed in a row direction, but in mobile layout, each is
  full-length across main direction, so they will wrap (see in column) */
  flex-wrap: wrap;
}

.content{
  display: flex;
  flex-wrap: wrap;
}