<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Cookinillas &mdash; Acceder</title>
</head>

<body>
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="img/video.mp4" type="video/mp4">
            <source src="img/video.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div>
    <div class="access-container">
        <div class="access__form">
            <div class="access-logo">
                <img src="img/logo.svg" alt="cookinillas logo" class="logo">
            </div>
            <form action="" method="post" class="form-signin">
                <span>Inicia sesión</span>

                <label class="username">Nombre de usuario</label>
                <input type="text" name="Nombre de usuario">

                <label class="username">Contraseña</label>
                <input type="text" name="Contraseña">

                <input class="form__button" type="submit" value="Iniciar sesión">
            </form>

            <span>&mdash;&mdash;&mdash; o bien &mdash;&mdash;&mdash;</span>

            <form action="" method="post" class="form-signup">
                <span>Regístrate</span>

                <label class="username">Nombre de usuario</label>
                <input type="text" name="Nombre de usuario">

                <label class="username">Contraseña</label>
                <input type="text" name="Contraseña">

                <label class="username">e-mail</label>
                <input type="text" name="e-mail">

                <input class="form__button" type="submit" value="Registrarse">
            </form>
        </div>

    </div>
</body>
</html>