<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Cookinillas &mdash; *** Titulo receta ***</title>
</head>

<body>
<div class="container">
    <header class="header">
        <a href="../views/index.html">
            <button class="home__button">
                <img src="img/logo.svg" alt="cookinillas logo" class="logo">
            </button>
        </a>

        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="Buscar por ingredientes">
            <button class="search__button">
                <svg class="search__icon">
                    <use href="img/sprite.svg#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>

        <nav class="user-nav">
            <a href="../views/upload_recipe.html">
                <div class="user-nav__icon-box">
                    <svg class="user-nav__icon">
                        <use href="img/sprite.svg#icon-upload-to-cloud"></use>
                    </svg>
                </div>
            </a>
            <div class="user-nav__user">
                <div class="user-nav__user-box">
                    <img src="img/user.jpg" alt="user photo" class="user-nav__user-photo">
                    <button class="user-nav__user-dropbtn">Username</button>
                </div>
                <div class="user-nav__user-dropcont">
                    <a href="#">Recetas favoritas</a>
                    <a href="#">Mis recetas</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <div class="title-bar">
            <div class="title-box">
                <span class="title-box__title">*** TITULO RECETA ***</span>
            </div>
        </div>

        <main class="recipe-main">
            <div class="recipe__img">
                <img src="../views/img/recipe1.jpg" alt="">
            </div>
            <div class="recipe__bar">
                <svg class="recipe__bar-time__logo">
                    <use href="img/sprite.svg#icon-stopwatch"></use>
                </svg>
                <span class="recipe__bar-time">30min</span>

                <svg class="recipe__bar-user__logo">
                    <use href="img/sprite.svg#icon-user"></use>
                </svg>
                <span class="recipe__bar-alias">drmartinez</span>

                <button id="fav_button" class="fav__button">
                    <svg class="fav__icon">
                        <use href="img/sprite.svg#icon-heart"></use>
                    </svg>
                    <span class="fav__text">Me gusta</span>
                    <span class="fav__count">(346)</span>
                </button>
            </div>
            <div class="recipe__content">
                <div class="recipe__ing">
                    <h3>Listado de ingredientes</h3>
                    <ul class="recipe__ing-list">
                        <li>500g Pollo</li>
                        <li>100g pan rallado</li>
                        <li>3 huevos</li>
                    </ul>
                </div>

                <div class="recipe__text">
                    <p>
                        Sunt calceuses amor fatalis, raptus adiuratores.Ionicis tormento, lamia, et compater.Pol, a bene homo.Devirginatos cadunt, tanquam salvus adgium.
                        Sunt calceuses amor fatalis, raptus adiuratores.Ionicis tormento, lamia, et compater.Pol, a bene homo.Devirginatos cadunt, tanquam salvus adgium.
                        Sunt calceuses amor fatalis, raptus adiuratores.Ionicis tormento, lamia, et compater.Pol, a bene homo.Devirginatos cadunt, tanquam salvus adgium.
                        Sunt calceuses amor fatalis, raptus adiuratores.Ionicis tormento, lamia, et compater.Pol, a bene homo.Devirginatos cadunt, tanquam salvus adgium.
                        Sunt calceuses amor fatalis, raptus adiuratores.Ionicis tormento, lamia, et compater.Pol, a bene homo.Devirginatos cadunt, tanquam salvus adgium.
                    </p>
                </div>

                <div class="recipe__steps">
                    <h3>Pasos a realizar</h3>
                    <ol class="recipe__steps-list">
                        <li>Paso 1</li>
                        <li>Paso 2</li>
                        <li>Paso 3</li>
                        <li>Paso 4</li>
                    </ol>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <p class="footerText">Cookinillas - Copyright (c) 2021 drmartinez</p>
    </footer>
</div>
</body>
</html>