.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-secondary-light);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-tertiary);

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}