<!--
TODO:
 -Preguntar por variable CANTIDADES en BD, tipo de dato?
-->

<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial scale=1.0">

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="shortcut icon" type="image/png" href="img/favicon.png">

      <title>Cookinillas &mdash; Cocinando para todos</title>
  </head>

  <body>
        <div class="container">
            <header class="header">
                <a href="../view/index.html">
                    <button class="home__button">
                        <img src="img/logo.svg" alt="cookinillas logo" class="logo">
                    </button>
                </a>

                <form action="#" class="search">
                    <input type="text" class="search__input" placeholder="Buscar por ingredientes">
                    <button class="search__button">
                        <svg class="search__icon">
                            <use href="../view/img/sprite.svg#icon-magnifying-glass"></use>
                        </svg>
                    </button>
                </form>

                <nav class="user-nav">
                    <a href="../view/upload_recipe.html">
                        <div class="user-nav__icon-box">
                            <svg class="user-nav__icon">
                                <use href="../view/img/sprite.svg#icon-upload-to-cloud"></use>
                            </svg>
                        </div>
                    </a>
                    <div class="user-nav__user">
                        <div class="user-nav__user-box">
                            <p>Usuario</p>
                            <a href="index.php?controller=users&amp;action=logout">
                                <svg class="user-nav__icon">
                                    <use href="/view/img/sprite.svg#icon-exit"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="user-nav__user-dropcont">
                            <a href="#">Recetas favoritas</a>
                            <a href="#">Mis recetas</a>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="content">
                <div class="title-bar">
                     <div class="title-box">
                         <span class="title-box__title">Recetas recientes</span>
                     </div>
                </div>

                <main class="main-content">
                    <div class="recipes">
                            <div class="recipes__box">
                                <a href="#" class="recipes__box-link">
                                    <span><img src="img/recipe1.jpg" alt="Photo of recipe 1" class="recipes__box-photo"></span>
                                </a>
                                <h3 class="recipes__box-title">
                                    Lorem ipsum dolor sit amet
                                </h3>
                                <span class="recipes__box-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe2.jpg" alt="Photo of recipe 2" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe3.jpg" alt="Photo of recipe 3" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe4.jpg" alt="Photo of recipe 4" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe5.jpg" alt="Photo of recipe 5" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe6.jpg" alt="Photo of recipe 6" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe7.jpg" alt="Photo of recipe 7" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe8.jpg" alt="Photo of recipe 8" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe9.jpg" alt="Photo of recipe 9" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                        <div class="recipes__box">
                            <a href="#" class="recipes__box-link">
                                <img src="img/recipe10.jpg" alt="Photo of recipe 10" class="recipes__box-photo">
                            </a>
                            <h3 class="recipes__box-title">
                                Lorem ipsum dolor sit amet
                            </h3>
                            <span class="recipes__box-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>
                        </div>
                    </div>
                </main>
            </div>
            <footer>
                <p class="footerText">Cookinillas - Copyright (c) 2021 drmartinez</p>
                <ul id="languagechooser">
                    <a href="index.php?controller=language&amp;action=change&amp;lang=es">
                        <img src="../view/img/es.png" alt="">
                    </a>
                    <a href="index.php?controller=language&amp;action=change&amp;lang=en">
                        <img src="../view/img/en.png" alt="">
                    </a>
                </ul>
            </footer>
        </div>
  </body>
</html>
