<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Cookinillas &mdash; *** Titulo receta ***</title>
</head>

<body>
<div class="container">
    <header class="header">
        <a href="../view/index.html">
            <button class="home__button">
                <img src="img/logo.svg" alt="cookinillas logo" class="logo">
            </button>
        </a>

        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="Buscar por ingredientes">
            <button class="search__button">
                <svg class="search__icon">
                    <use href="img/sprite.svg#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>

        <nav class="user-nav">
            <a href="../view/upload_recipe.html">
                <div class="user-nav__icon-box">
                    <svg class="user-nav__icon">
                        <use href="img/sprite.svg#icon-upload-to-cloud"></use>
                    </svg>
                </div>
            </a>
            <div class="user-nav__user">
                <div class="user-nav__user-box">
                    <p>Usuario</p>
                    <a href="index.php?controller=users&amp;action=logout">
                        <svg class="user-nav__icon">
                            <use href="/view/img/sprite.svg#icon-exit"></use>
                        </svg>
                    </a>
                </div>
                <div class="user-nav__user-dropcont">
                    <a href="#">Recetas favoritas</a>
                    <a href="#">Mis recetas</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <div class="title-bar">
            <div class="title-box">
                <h1 class="title-box__title">Pavo empanado al limon</h1>
            </div>
        </div>

        <main class="recipe-main">
            <div class="recipe__img">
                <img src="../view/img/recipe1.jpg" alt="">
            </div>
            <div class="recipe__bar">
                <svg class="recipe__bar-time__logo">
                    <use href="img/sprite.svg#icon-stopwatch"></use>
                </svg>
                <span class="recipe__bar-time">30min</span>

                <svg class="recipe__bar-user__logo">
                    <use href="img/sprite.svg#icon-user"></use>
                </svg>
                <span class="recipe__bar-alias">drmartinez</span>

                <button id="fav_button" class="fav__button">
                    <svg class="fav__icon">
                        <use href="img/sprite.svg#icon-heart"></use>
                    </svg>
                    <span class="fav__text">Me gusta</span>
                    <span class="fav__count">(346)</span>
                </button>
            </div>
            <div class="recipe__content">
                <div class="recipe__ing">
                    <h3>Listado de ingredientes</h3>
                    <ul class="recipe__ing-list">
                        <li>4 solomillos de pavo</li>
                        <li>2 huevos</li>
                        <li>Pan rallado</li>
                    </ul>
                </div>
                <div class="recipe__text">
                    <p>
                        Típica de Ucrania, los platos al estilo Kiev se acostumbran a preparar con pollo, pero en la receta
                        que te proponemos utilizamos solomillos de pavo, que también funcionan estupendamente bien con esta delicia empanada.
                    </p>
                </div>

                <div class="recipe__steps">
                    <h3>Pasos a realizar</h3>
                    <ol class="recipe__steps-list">
                        <li>Lava y pica el cebollino y el perejil. También pica el diente de ajo.</li>
                        <li>En un bol, vierte la mantequilla a temperatura ambiente con el ajo, el perejil, el cebollino, el tomillo, la ralladura de limón y sal. Mezcla bien.</li>
                        <li>A la mezcla anterior, dale forma de rulo, envuelve en papel film y mete en el congelador durante 1 hora.</li>
                        <li>Salpimenta los solomillos y corta por un lateral, tiene que quedar una abertura para rellenar con una rodaja de mantequilla.</li>
                        <li>Casca y bate los huevos en un plato, y salpimenta al gusto.</li>
                        <li>Prepara dos platos, y en uno vierte harina y en el otro pan rallado.</li>
                        <li>Retira la mantequilla del congelador y corta el rulo en 4 trozos. Coloca un trozo dentro de cada solomillo, y cierra con la ayuda de palillos.</li>
                        <li>Pasa los solomillos por harina, huevo y pan rallado.</li>
                        <li>En una sartén con abundante aceite, fríe los solomillos hasta que estén dorados por cada lado.</li>
                        <li>Reserva los solomillos sobre papel absorbente y precalienta el horno.</li>
                        <li>Hornea los solomillos a 180 grados durante 10 minutos.</li>
                        <li>Retira los solomillos del horno, retira los palillos y a disfrutar.</li>
                    </ol>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <p class="footerText">Cookinillas - Copyright (c) 2021 drmartinez</p>
        <ul id="languagechooser">
            <a href="index.php?controller=language&amp;action=change&amp;lang=es">
                <img src="../view/img/es.png" alt="">
            </a>
            <a href="index.php?controller=language&amp;action=change&amp;lang=en">
                <img src="../view/img/en.png" alt="">
            </a>
        </ul>
    </footer>
</div>
</body>
</html>